<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar {
            background-color: #800000; /* Cor vinho */
        }

        .navbar-brand img {
            width: 60px; /* Ajuste a largura conforme necessário */
            height: 60px; /* Ajuste a altura conforme necessário */
            margin-right: 5px; /* Adiciona um espaço entre a imagem e o texto */
        }

        .navbar-brand span {
            color: #fff;
            font-size: 30px; /* Tamanho da fonte */
 			font-weight: bold;
 			align-self: center; /* Peso da fonte */ /* Cor do texto */
        }
    </style>
    <title>Reserva de Salas</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://portais.ufma.br/PortalUnidade/img/brasao-normal.png" alt="Logo">
            <span style="font-weight: bold; margin-left: 10px;">UFMA-PINHEIRO</span>
        </a>
        <div style="padding: 10px; border-radius: 5px; margin-left: 20px;">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <img src="{{ user.picture }}" style="max-width: 20%; max-height: 20%;
                 height: auto; border-radius: 50%;">
                <span style="color: #fff; margin-right: 10px;">{{ user.name }}</span>
                <div style="border: 2px solid #fff; border-radius: 10px; padding: 5px;
                 display: flex; align-items: center; justify-content: center;">
                    <a href="/logout" style="text-decoration: none; color: #fff;">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>


<!-- Mensagem de bem-vindo -->
<div class="container">
    <h1 class="mt-5">Bem-vindo ao Sistema de Reserva de Salas</h1>
    <div class="alert alert-warning" role="alert">
        <h6>Esse sistema está atualmente funcionando somente para o laboratório de informática do prédio das licenciaturas, e em fase beta.</h6>
    </div>

        <div class="text-center mt-3">
            <form id="reservaForm">
                <div class="form-group">
                    <label for="id_room">Sala:</label>
                    <select class="form-control" id="id_room" name="sala">
                        <!-- As opções serão adicionadas aqui pelo JavaScript -->
                    </select>
                </div>

                <div class="form-group">
                    <label for="date">Data:</label>
                    <input type="date" class="form-control" id="date" name="date">
                </div>

                <div class="form-group">
                    <label for="start_time">Horário de Início:</label>
                    <input type="time" class="form-control" id="start_time" name="start_time">
                </div>

                <div class="form-group">
                    <label for="end_time">Horário de Término:</label>
                    <input type="time" class="form-control" id="end_time" name="end_time">
                </div>

                <div class="form-group">
                    <label for="reason">Razão:</label>
                    <textarea class="form-control" id="reason" name="reason"></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Reservar</button>
            </form>
        </div>
    </div>

<script>
    // Obtém uma referência ao elemento dropdown
    var dropdown = document.getElementById("id_room");

    // Array de opções
    fetch('/room/all')
  .then(response => response.json())
  .then(data => {
    // Adiciona as opções ao dropdown
    for (var i = 0; i < data.length; i++) {
        var option = document.createElement("option");
        option.text = data[i].name+", "+data[i].location;
        option.value = data[i].id;
        dropdown.add(option);
    }
  })
  .catch(error => {
    console.error('Ocorreu um erro:', error);
  });

  // subimetendo reserva
  var form = document.getElementById("reservaForm");

    form.addEventListener("submit", function(event) {
      event.preventDefault(); // Impede o envio padrão do formulário

      var data = {
        responsible_user_email: "{{ user.email }}",
        date: form.elements.date.value,
        start_time: form.elements.start_time.value,
        end_time: form.elements.end_time.value,
        reason: form.elements.reason.value,
        id_room: parseInt(form.elements.id_room.value)
      };
      console.log(data);

      fetch("/reservation", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(result => {
        console.log(result); // Faça o que desejar com a resposta do servidor
        window.location.href = '/confirmation';

      })
      .catch(error => {
        console.error("Ocorreu um erro:", error);
      });
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
