<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar {
            background-color: #800000; /* Cor vinho */
        }

        .navbar-brand img {
            width: 60px; /* Ajuste a largura conforme necessário */
            height: 60px; /* Ajuste a altura conforme necessário */
            margin-right: 5px; /* Adiciona um espaço entre a imagem e o texto */
        }

        .navbar-brand span {
            color: #fff;
            font-size: 30px; /* Tamanho da fonte */
 			font-weight: bold;
 			align-self: center; /* Peso da fonte */ /* Cor do texto */
        }
    </style>
    <title>Reserva de Salas</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://portais.ufma.br/PortalUnidade/img/brasao-normal.png" alt="Logo">
            <span style="font-weight: bold; margin-left: 10px;">UFMA-PINHEIRO</span>
        </a>
        <div style="padding: 10px; border-radius: 5px; margin-left: 20px;">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <img src="{{ user.picture }}" style="max-width: 20%; max-height: 20%;
                 height: auto; border-radius: 50%;">
                <span style="color: #fff; margin-right: 10px;">{{ user.name }}</span>
                <div style="border: 2px solid #fff; border-radius: 10px; padding: 5px;
                 display: flex; align-items: center; justify-content: center;">
                    <a href="/logout" style="text-decoration: none; color: #fff;">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>


<!-- Mensagem de bem-vindo -->
<div class="container">
    <h1 class="mt-5">Bem-vindo ao Sistema de Reserva de Salas</h1>
    <div class="alert alert-warning" role="alert">
        <h6>Esse sistema está atualmente funcionando somente para o laboratório de informática do prédio das licenciaturas, e em fase beta.</h6>
    </div>

    <div class="text-center mt-3">
        <form action="/make-reservation" method="GET" id="reservaForm">
            <div class="form-group">
                <label for="id_room">Sala:</label>
                <select class="form-control" id="id_room" name="id_room">
                    {% for room in rooms %}
                    <option value="{{ room.id }}">{{ room.name }}, {{ room.location }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="date">Data:</label>
                <input type="date" class="form-control" id="date" name="date">
            </div>

            <div class="form-group">
                <label for="start_time">Horário de Início:</label>
                <input type="time" class="form-control" id="start_time" name="start_time">
            </div>

            <div class="form-group">
                <label for="end_time">Horário de Término:</label>
                <input type="time" class="form-control" id="end_time" name="end_time">
            </div>

            <div class="form-group">
                <label for="reason">Razão:</label>
                <textarea class="form-control" id="reason" name="reason"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Reservar</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
